body {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #fefbd8;
}

.dot {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 20px;
  animation: loading 2s cubic-bezier(0.45, 0, 0.55, 1) infinite;
}

@keyframes loading {
  0%,
  100% {
    transform: translatey(-2.5rem);
    background-color: #034f84;
  }
  50% {
    transform: translatey(2.5rem);
    background-color: #c94c4c;
  }
}

 